*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    max-width: 1920px;
}

div,section,header{
    width:100%;
}

p{
    font-size: 17px;
    font-weight:300;
}

redbold{
    color: #d61e1e;
    font-weight: 700;
}

.container{
    margin: 0 auto;
    padding:0 2%;
}

/* back-customer-plataform-control */

.back-customer-plataform-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px;
}

.back-customer-plataform-control a{
    text-decoration: none;
    color:#dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.back-customer-plataform-control a:hover{
    transition: 0.2s;
    color:#fff;
}

.back-customer-plataform-control a > i {
    font-size:30px;
}

.back-customer-plataform-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* header */

header{
    padding:12px 0;
    background-color: #d61e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

header img{
    width:81px;
    height:70px;
}

header h2{
    margin-left:15px;
    font-size:25px;
}

/* title-section */

.title-section{
    width:100%;
    margin:5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-section > .container > .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-section > .container > .title-container h2{
    font-size: 35px;
}

.title-section > .container > .title-container h2 > .line{
    width:11rem;
    margin:2px 0;
    margin-left:75%;
    height:1.5px;
    background-color: #d61e1e;
}

.title-section > .container > .title-container h4{
    font-size: 17px;
    font-weight: normal;
    margin-top:4px;
}

/* introduction-usage-system-section */

.introduction-usage-system-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:1.5rem;
}

.introduction-usage-system-section > .container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.introduction-usage-system-section > .container > .title-container h2{
    font-size:25px;
}

.introduction-usage-system-section > .container > .title-container h2 > .line{
    width:11rem;
    margin:2px 0;
    margin-left:15%;
    height:1.5px;
    background-color: #d61e1e;
}

.introduction-usage-system-section > .container > p{
    margin:1rem 0;
}

.introduction-usage-system-section > .container > p > strong{
    color:#d61e1e;
}

/* actions-system-section */

.actions-system-section{
    background-color: #d61e1e;
    color: #fff;
}

.actions-system-section > .container > .items-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5rem 0;
}

.actions-system-section > .container h3{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding-top:2rem;
}

.actions-system-section > .container > .items-container > .item-control{
    width:25%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions-system-section > .container > .items-container > .item-control i{
    font-size:60px;
}

.actions-system-section > .container > .items-container > .item-control h3{
    padding:10px 0;
    font-size:23px;
}

.actions-system-section > .container > .items-container > .item-control p{
    text-align: center;
}

.actions-system-section > .container > .items-container > .item-control p > subline{
    text-decoration: underline;
}

/* basic-steps-section */

.basic-steps-section{
    margin: 3rem 0;
}

.basic-steps-section > .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basic-steps-section > .container > .text-container h2{
    font-size: 25px;
}

.basic-steps-section > .container > .text-container h2 > .line{
    width:11rem;
    margin:2px 0;
    margin-left:15%;
    height:1.5px;
    background-color: #d61e1e;
}

.basic-steps-section > .container > .text-container p{
    margin:1rem 0;
}

.basic-steps-section > .container > .step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
}

.basic-steps-section > .container > .step-container > .step-control{
    width:55%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    border-radius:15px;
}

.basic-steps-section > .container > .step-container > .step-control h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius:50px;
    padding:6px 2rem;
    margin:1.5rem 0;
    background-color: #d61e1e;
    color:#000;
}

.basic-steps-section > .container > .step-container > .step-control h3 > i{
    font-size:30px;
}

.basic-steps-section > .container > .step-container > .step-control p{
    margin-bottom:1.5rem;
    color:#fff;
    text-align: center;
}

.basic-steps-section > .container > .arrow-symbol-container{
    margin:1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-steps-section > .container > .arrow-symbol-container i{
    font-size:35px;
    color: #d61e1e;
}

/* password-system-section */

.password-system-section{
    padding:4rem 0;
    background-color: #dedede;
}

.password-system-section > .container {
    display: flex;
    justify-content: center;
    align-items:center;
}

.password-system-section > .container > .text-container{
    width:50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.password-system-section > .container > .text-container h3{
    font-size:25px;
    padding: 5px 16px 5px 2px;
    margin-bottom:1rem;
    background-color: #d61e1e;
}

.password-system-section > .container > .text-container p{
    margin-bottom:1rem;
}

.password-system-section > .container > .image-container{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-system-section > .container > .image-container img{
    width:75%;
    border-radius: 15px;
    box-shadow: 0px 1px 13px 8px #000;
}

/* error-msg-section */

.error-msg-section{
    margin:2rem 0;
}

.error-msg-section > .container > .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-msg-section > .container > .title-container h3{
    font-size:25px;
    padding: 8px 3rem;
    margin-bottom:1rem;
    border-radius:50px;
    background-color: #d61e1e;
    width:fit-content;
}

.error-msg-section > .container > .text-container p{
    margin:1rem 0;
    text-align: center;
}

.error-msg-section > .container > .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:2rem 0;
}

.error-msg-section > .container > .image-container > .image-control{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-msg-section > .container > .image-container > .image-control img{
    width:85%;
    border-radius:25px;
}

/* correct-format-section */

.correct-format-section{
    margin:4rem 0;
}

.correct-format-section > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.correct-format-section > .container > .text-container{
    width:50%;
}

.correct-format-section > .container > .text-container h3{
    font-size:25px;
    padding: 5px 16px 5px 2px;
    background-color: #d61e1e;
    width:fit-content;
}

.correct-format-section > .container > .text-container p{
    margin:1rem 0;
}

.correct-format-section > .container > .filling-structure-container{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.correct-format-section > .container > .filling-structure-container > .structure-control{
    width:85%;
    border-radius:25px;
    padding:0.4rem 2rem;
    margin:1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d61e1e;
}

.correct-format-section > .container > .filling-structure-container > .structure-control > .line{
    width:65%;
    background-color: #000;
    height:1px;
}

.correct-format-section > .container > .filling-structure-container > .structure-control h3{
    padding-bottom:0.4rem;
    font-size: 20px;
}

.correct-format-section > .container > .filling-structure-container > .structure-control span{
    margin:1rem 0;
    background-color: #000;
    color:#fff;
    padding:0.4rem 1.3rem;
    border-radius:50px;
    text-align: center;
}

/* consult-client-section */

.consult-client-section{
    margin:4rem 0;
}

.consult-client-section > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.consult-client-section > .container > .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:2rem;
}

.consult-client-section > .container > .title-container h3{
    font-size:25px;
    width: fit-content;
}

.consult-client-section > .container > .title-container h3 > .line{
    width:11rem;
    margin:2px 0;
    margin-left:15%;
    height:1.5px;
    background-color: #d61e1e;
}

.consult-client-section > .container > .text-container{
    width:50%;
}

.consult-client-section > .container > .text-container p{
    margin:1rem 0;
}

.consult-client-section > .container > .image-container{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consult-client-section > .container > .image-container img{
    width:80%;
    border-radius:25px;
    box-shadow: 0px 1px 10px 7px #d61e1e;
}

/* footer */

footer{
    z-index: -4;
    width:100%;
    background-color: #d61e1e;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3{
    font-size:14px;
    font-weight: normal;
    padding:0.9rem 0;
}