*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    max-width: 1920px;
    overflow-x: hidden;
}

section,div{
    width:100%;
}

button{
    background-color: #d61e1e;
    color:#fff;
    border-radius:25px;
    border:none;
    cursor:pointer;
}

input:focus,
select:focus{
    outline:1px solid #d61e1e;
}

/* overlay-for-loading */

.overlay-for-loading{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1000;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
    cursor:not-allowed;
}

.overlay-for-loading > .loading-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.overlay-for-loading > .loading-container i{
    font-size:75px;
    margin-bottom:0.5rem;
}

.overlay-for-loading > .loading-container span{
    font-size: 25px;
}

.overlay{
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:1000;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.7);
}

/* confirmation-popup */

.confirmation-popup{
    background-color: #000;
    width:35%;
    border-radius:25px;
    padding:1rem 0;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.confirmation-popup > #close-confirmation-popup-btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border:none;
    margin-left:85%;
    margin-top:0.8rem;
}

.confirmation-popup > .title-control{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-popup > .title-control i{
    font-size:75px;
    color: #d61e1e;
}

.confirmation-popup > .title-control h2{
    font-size:25px;
    margin-top:0.2rem;
    color:#fff;
}

.confirmation-popup > .input-control{
    margin-top:1.2rem;
    margin-bottom:1rem;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-popup > .input-control > .wrong-password-span{
    color:#000;
    margin-top:0.5rem;
    padding: 2px 8px;
    background-color: #d61e1e;
    font-size: 13px;
    display: none;
}

.confirmation-popup > .input-control input{
    width:35%;
    background-color: #fff;
    border:none;
    border-radius:25px;
    font-size: 15px;
    padding:8px 0;
    text-align: center;
    transition:0.2s;
}

.confirmation-popup > .input-control input:focus{
    outline: none;
    box-shadow: 0px 0px 9px 4px #d61e1e;
    transition:0.2s;
}

.confirmation-popup > .input-control button{
    width:fit-content;
    background-color: #d61e1e;
    border:none;
    border-radius:25px;
    font-size:15px;
    font-weight: 500;
    padding:5px 15px;
    margin-top:0.9rem ;
    cursor: pointer;
}

/* server-message-popup */

.server-message-popup{
    position:absolute;
    display: none;
    margin-top:7%;
    margin-left:73%;
    width:26%;
    border-radius:15px;
    height:10%;
    background-color: #0364b3;
    color:#fff;
}

.server-message-popup > .close-server-message-popup-btn{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border:none;
    margin-left:92%;
    margin-top:0.5rem;
}

.server-message-popup > .server-message-control{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px 0;
}

.server-message-popup > .server-message-control i{
    font-size:25px;
    margin-right:5px;
}

.server-message-popup > .server-message-control span{
    font-size: 17px;
}

/* message-popup */

.message-popup{
    background-color: #d61e1e;
    position: fixed;
    display:none;
    width:30%;
    border-radius:15px;
    color: #fff;
    margin-left:69%;
    margin-top:40%;
}

.message-popup > .close-message-popup-btn{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border:none;
    margin-left:92%;
    margin-top:0.5rem;
}

.message-popup > .message-popup-control{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-popup > .message-popup-control i{
    font-size: 65px;
    margin:0.3rem 0;
}

.message-popup > .message-popup-control  > .message-popup-span{
    font-size: 17px;
    margin-bottom:0.8rem;
}

/* header */

header{
    padding:12px 0;
    width:100%;
    background-color: #d61e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

header img{
    width:81px;
    height:70px;
}

header h2{
    margin-left:15px;
    font-size:25px;
}

/* back-hub-apps-control */

.back-hub-apps-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    justify-content: center;
    padding:8px;
}

.back-hub-apps-control a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:#dedede;
    transition:0.2s;
}

.back-hub-apps-control a:hover{
    color:#fff;
    transition:0.2s;
}

.back-hub-apps-control a > i {
    font-size:30px;
}

.back-hub-apps-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* help-page-link-control" */

.help-page-link-control{
    position:absolute;
    margin-left: 83%;
}

.help-page-link-control a{
    text-decoration:none;
    color:#dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:0.2s;
}

.help-page-link-control a:hover{
    color:#fff;
    transition:0.2s;
}

.help-page-link-control a > i{
    font-size: 30px;
}

.help-page-link-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* main-hub-section */

.main-hub-section{
    margin:1.5rem 0;
    display:none;
}

.main-hub-section > .main-hub-container{
    padding:3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hub-section > .main-hub-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a91818;
    width:30%;
    padding:10px 0;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;
}

.main-hub-section > .main-hub-container button > i{
    margin-left:7px;
    font-size:22px;
}

.main-hub-section > .main-hub-container button:hover{
    background-color:#d61e1e ;
    transition:0.2s;
}

.main-hub-section > .main-hub-container > #edit-price-list-btn{
    background-color: #0364b3;
    transition:0.2s;
}

.main-hub-section > .main-hub-container > #edit-price-list-btn:hover{
    background-color: #0079dc;
}

/* consult-price-list-section */

.consult-price-list-section{
    margin-top:1.5rem;
    display: block;
}

/* back-home-control */

.back-home-control{
    display: flex;
    align-items:center;
    justify-content: left;
    margin-bottom:1rem;
}

.back-home-control > button{
    width:15%;
    margin-left:1rem;
    font-size: 14px;
    padding:8px 0;
    background-color: #a91818;
    color: #fff;
    border-radius: 25px;
    border:none;
    transition:0.2s;
    cursor:pointer;
}

.back-home-control > button:hover{
    background-color: #d61e1e;
    transition: 0.2s;
}

.back-home-control > button > i{
    margin-right:7px;
}

.back-home-control > h3{
    margin-left:10px;
}

.consult-price-list-section > .title-container{
    margin-top:1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;   
}

.consult-price-list-section > .title-container > .line{
    width:10%;
    background-color: #d61e1e;
    height:1px;
}

.consult-price-list-section > .title-container > .title-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 1rem;
}

.consult-price-list-section > .title-container > .title-control h3{
    font-size:35px;
}

.consult-price-list-section > .title-container > .title-control h5{
    font-size:15px;
    font-weight:300;
    margin-top:10px;
    margin-bottom:1rem;
}


/* consult-price-list-section -> search-input-container */

.consult-price-list-section > .search-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.consult-price-list-section > .search-input-container > *{
    margin:0 8px;
    padding:8px 0;
    border-radius:25px;
}

.consult-price-list-section > .search-input-container > #service-type_select-search{
    width:25%;
}

.consult-price-list-section > .search-input-container > .service-name-input-control{
    width:55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consult-price-list-section > .search-input-container > .service-name-input-control input{
    width:100%;
    padding:8px 0;
    padding-left:8px;
    border-radius:25px;
    border: 1px solid #969696;
}

.consult-price-list-section > .search-input-container > .service-name-input-control > .service-name-options-control{
    display:none;
    border: 1px solid #969696;
    background-color: #fff;
    width: 55%;
    border-radius:25px;
    margin-top:33px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    font-size:15px;
}

.consult-price-list-section > .search-input-container > .service-name-input-control > .service-name-options-control > .service-name-option{
    padding:8px 0;
    padding-left:8px;    
    transition:0.2s;
    cursor:pointer;
}

.consult-price-list-section > .search-input-container > .service-name-input-control > .service-name-options-control > .service-name-option:hover{
    background-color: #d2d2d2;
    transition:0.2s;
}

.consult-price-list-section > .search-input-container > #consult-price-list_search-btn{
    width:10%;
    cursor:pointer;
    background-color: #a91818;
    transition:0.2s;
}

.consult-price-list-section > .search-input-container > #consult-price-list_search-btn:hover{
    background-color: #d61e1e;
    transition:0.2s;
}

/* consult-price-list-section > consult-price-list_result-container */

.consult-price-list-section > .consult-price-list_result-container{
    margin-top:1.5rem;
}

.consult-price-list-section > .consult-price-list_result-container > .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:25px;
}

.consult-price-list-section > .consult-price-list_result-container > .title-container > .line{
    width:9rem;
    margin-left:18%;
    height:1px;
    background-color: #d61e1e;
    margin-top:2px;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    margin: 2rem auto 0 auto;
}

/* consult-price-list-section > consult-price-list_result-container > .consult-price-list_label-control */

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_label-control{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d61e1e;
    color:#fff;
    padding:0.7rem 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_label-control h3{
    font-size:18px;
    text-align: center;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_label-control > .service-type-label{
    width:20%;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_label-control > .service-description-label{
    width:50%;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_label-control > .service-price-label{
    width:30%;
}

/* consult-price-list-section > consult-price-list_result-container > consult-price-list_show-control > consult-price-list_show-item */

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_show-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    padding:1rem 0;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_show-item span{
    font-size:18px;
    text-align: center;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_show-item > .service-type_span{
    width:20%;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_show-item > .service-description_span{
    width:50%;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .consult-price-list_show-item > .service-price_span{
    width:30%;
}

.consult-price-list-section > .consult-price-list_result-container > .consult-price-list_show-control > .end-of-items{
    padding:0.7rem 0;
    background-color: #d61e1e;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* price-list-show-section */

.price-list-show-section{
    margin:1.5rem 0;
    display: none;
}

.price-list-show-container > .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-list-show-container > .title-container > .line{
    width:10%;
    background-color: #d61e1e;
    height:1px;
}

.price-list-show-container > .title-container >.title-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:fit-content;
    margin:0 1rem;
}

.price-list-show-container > .title-container >.title-control h3{
    font-size: 35px;
}

.price-list-show-container > .title-container h5{
    font-size:15px;
    font-weight:300;
}

.price-list-show-container > .price-list-show-control{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-list-show-container > .price-list-show-control > .price-list-show-label{
    margin-top:2rem;
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d61e1e;
    color: #fff;
    padding:0.7rem 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.price-list-show-container > .price-list-show-control > .price-list-show-label h3{
    font-size:18px;
    text-align: center;
}

.price-list-show-container > .price-list-show-control > .price-list-show-label > .service-type-label{
    width:20%;
}

.price-list-show-container > .price-list-show-control > .price-list-show-label > .service-description-label{
    width:50%;
}

.price-list-show-container > .price-list-show-control > .price-list-show-label > .service-price-label{
    width:30%;
}

.price-list-show-container > .price-list-show-control > .price-list-show-item{
    display: flex;
    width:90%;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
    background-color: #ececec;
}

.price-list-show-container > .price-list-show-control > .price-list-show-item > .price-list-item_service-type{
    width:20%;
    text-align: center;
}

.price-list-show-container > .price-list-show-control > .price-list-show-item > .price-list-item_service-description{
    width:50%;
    text-align: center;
}

.price-list-show-container > .price-list-show-control > .price-list-show-item > .price-list-item_service-price{
    width:30%;
    text-align: center;
}

/* edit-price-list-section */

.edit-price-list-section{
    margin-top:1.5rem;
    display:none;
}

.edit-price-list-section > .main-hub-container_edit-price-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-price-list-section > .main-hub-container_edit-price-list button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a91818;
    width:30%;
    padding:10px 0;
    margin:0.7rem 0;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;
}

.edit-price-list-section > .main-hub-container_edit-price-list button > i{
    margin-left:7px;
    font-size:22px;
}

.edit-price-list-section > .main-hub-container_edit-price-list button:hover{
    transition:0.2s;
    background-color: #d61e1e;
}

.edit-price-list-section > .main-hub-container_edit-price-list > #send-to-server-btn{
    background-color: #0364b3;
    transition:0.2s;
}

.edit-price-list-section > .main-hub-container_edit-price-list > #send-to-server-btn:hover{
    background-color: #0079dc;
    transition:0.2s;
}

/* edit-price-list-section -> add-item-container_edit-price-list*/

.edit-price-list-section > .add-item-container_edit-price-list{
    margin-top:1.5rem;
    display: none;
}

.edit-price-list-section > .add-item-container_edit-price-list > .title-container{
    margin-top:1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.edit-price-list-section > .add-item-container_edit-price-list > .title-container > .line{
    width:9rem;
    margin-left:18%;
    height:1px;
    background-color: #d61e1e;
}

.edit-price-list-section > .add-item-container_edit-price-list > .input-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem auto;
}

.edit-price-list-section > .add-item-container_edit-price-list > .input-container > input,
.edit-price-list-section > .add-item-container_edit-price-list > .input-container > select{
    border-radius:25px;
    border: 1px solid #969696;
    margin:0 8px;
    padding:8px 0;
}

.edit-price-list-section > .add-item-container_edit-price-list > .input-container > input:focus,
.edit-price-list-section > .add-item-container_edit-price-list > .input-container > select:focus{
    outline: 1px solid #d61e1e;
}

.edit-price-list-section > .add-item-container_edit-price-list > .input-container > #service-type-add-item_select{
    width:20%;
    padding-left:8px;
}

.edit-price-list-section > .add-item-container_edit-price-list > .input-container > #service-name-add-item_input{
    width:50%;
    padding-left:8px;
}

.edit-price-list-section > .add-item-container_edit-price-list > .input-container > #service-price-add-item_input{
    width:30%;
    padding-left:8px;
}

.edit-price-list-section > .add-item-container_edit-price-list > .button-container{
    margin:1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-price-list-section > .add-item-container_edit-price-list > .button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0364b3;
    width:20%;
    padding:8px 0;
    margin:0.7rem 0;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;
}

.edit-price-list-section > .add-item-container_edit-price-list > .button-container button > i{
    margin-left:7px;
    font-size:22px;
}

.edit-price-list-section > .add-item-container_edit-price-list > .button-container button:hover{
    background-color: #0079dc;
    transition:0.2s;
}

/* edit-price-list-section -> delete-item-container_edit-price-list*/

.edit-price-list-section > .delete-item-container_edit-price-list{
    margin-top:1.5rem;
    display: none;   
}

.edit-price-list-section > .delete-item-container_edit-price-list > .title-container{
    margin-top:1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .title-container > .line{
    width:9rem;
    margin-left:18%;
    height:1px;
    background-color: #d61e1e;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem auto;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > select,
.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > span{
    border-radius:25px;
    border: 1px solid #969696;
    margin:0 8px;
    padding:8px 0;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > select:focus,
.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > span:focus{
    outline: 1px solid #d61e1e;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > #service-type-delete-item_select{
    width:20%;
    padding-left:8px;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > .service-name-input-control_delete-item {
    width:50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left:8px;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > .service-name-input-control_delete-item input{
    width:100%;
    border-radius:25px;
    border: 1px solid #969696;
    margin:0 8px;
    padding:8px 0;
    padding-left:8px;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > .service-name-input-control_delete-item > .service-name-delete-item_options-control{
    display:none;
    border: 1px solid #969696;
    background-color: #fff;
    width: 43%;
    border-radius:25px;
    margin-top:33px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    font-size:15px;   
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > .service-name-input-control_delete-item > .service-name-delete-item_options-control > .service-name-delete-item_option{
    padding:8px 0;
    padding-left:8px;    
    transition:0.2s;
    cursor:pointer;   
}

.edit-price-list-section > .delete-item-container_edit-price-list > .input-container > #service-price-delete-item_span{
    width:30%;
    padding:8px 0;
    padding-left:8px;
    cursor:not-allowed;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem 0;
}

.edit-price-list-section > .delete-item-container_edit-price-list > .button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a91818;
    width:20%;
    padding:8px 0;
    margin:0.7rem 0;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;    
}

.edit-price-list-section > .delete-item-container_edit-price-list > .button-container button > i{
    margin-left:7px;
    font-size:22px;    
}

.edit-price-list-section > .delete-item-container_edit-price-list > .button-container button:hover{
    transition:0.2s;
    background-color: #d61e1e;
}

/* edit-price-list-section -> edit-item-container_edit-price-list */

.edit-price-list-section > .edit-item-container_edit-price-list{
    margin-top:1.5rem;
    display: none;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .title-container{
    margin-top:1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 25px;   
}

.edit-price-list-section > .edit-item-container_edit-price-list > .title-container > .line{
    width:9rem;
    margin-left:18%;
    height:1px;
    background-color: #d61e1e;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem auto;   
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container input,
.edit-price-list-section > .edit-item-container_edit-price-list > .input-container select{
    border-radius:25px;
    border: 1px solid #969696;
    margin:0 8px;
    padding:8px 0;   
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > #service-type-select_edit-item{
    width:20%;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > .service-name-input-control_edit-item{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > .service-name-input-control_edit-item input{
    width:100%;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > .service-name-input-control_edit-item > .service-name-edit-item_options-control{
    display:none;
    border: 1px solid #969696;
    background-color: #fff;
    width: 43%;
    border-radius:25px;
    margin-top:33px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    font-size:15px;   
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > .service-name-input-control_edit-item > .service-name-edit-item_options-control > .service-name-edit-item_option{
    padding:8px 0;
    padding-left:8px;    
    transition:0.2s;
    cursor:pointer;   
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > #service-price-span_edit-item{
    width:30%;
    margin:0 8px;
    padding:8px 0;
    padding-left:8px;
    border:1px solid #969696;
    border-radius:25px;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem 0;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .button-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a91818;
    width:20%;
    padding:8px 0;
    margin:0.7rem 0;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;    
}

.edit-price-list-section > .edit-item-container_edit-price-list > .button-container button > i{
    margin-left:7px;
    font-size:22px;    
}

.edit-price-list-section > .edit-item-container_edit-price-list > .button-container #next-step-edit-item-btn{
    background-color: #0364b3;
    transition:0.2s;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .button-container #next-step-edit-item-btn:hover{
    background-color: #0079dc;
    transition:0.2s;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > #service-type-select_update-item{
    width:20%;
    padding-left:8px;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > #service-name-input_update-item{
    width:50%;
    padding-left:8px;
}

.edit-price-list-section > .edit-item-container_edit-price-list > .input-container > #service-price-input_update-item{
    width:30%;
    padding-left:8px;
}