*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    max-width: 1920px;
    overflow-x: hidden;
}

section,div{
    width:100%;
}

button{
    background-color: #d61e1e;
    color:#fff;
    border-radius:25px;
    border:none;
    cursor:pointer;
}

select{
    cursor:pointer;
}

input:focus,
select:focus{
    outline:1px solid #d61e1e;
}

/* header */

header{
    padding:12px 0;
    width:100%;
    background-color: #d61e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

header img{
    width:81px;
    height:70px;
}

header h2{
    margin-left:15px;
    font-size:25px;
}

/* back-hub-apps-control */

.back-hub-apps-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    justify-content: center;
    padding:8px;
}

.back-hub-apps-control a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:#dedede;
    transition:0.2s;
}

.back-hub-apps-control a:hover{
    color:#fff;
    transition:0.2s;
}

.back-hub-apps-control a > i {
    font-size:30px;
}

.back-hub-apps-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* help-page-link-control" */

.help-page-link-control{
    position:absolute;
    margin-left: 83%;
}

.help-page-link-control a{
    text-decoration:none;
    color:#dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:0.2s;
}

.help-page-link-control a:hover{
    color:#fff;
    transition:0.2s;
}

.help-page-link-control a > i{
    font-size: 30px;
}

.help-page-link-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* message-popup */

.message-popup{
    background-color: #d61e1e;
    position: fixed;
    display:none;
    width:30%;
    border-radius:15px;
    color: #fff;
    margin-left:69%;
    margin-top:40%;
}

.message-popup > .close-message-popup-btn{
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border:none;
    margin-left:92%;
    margin-top:0.5rem;
}

.message-popup > .message-popup-control{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-popup > .message-popup-control i{
    font-size: 65px;
    margin:0.3rem 0;
}

.message-popup > .message-popup-control  > .message-popup-span{
    font-size: 17px;
    margin-bottom:0.8rem;
}

/* main-hub-section */

.main-hub-section{
    display: none;
    margin:1.5rem 0;
}

.main-hub-section > .main-hub-container{
    padding:3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hub-section > .main-hub-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a91818;
    width:30%;
    padding:10px 0;
    margin: 0 1rem;
    cursor: pointer;
    font-size: 19px;
    transition:0.2s;
}

.main-hub-section > .main-hub-container button > i{
    margin-left:7px;
    font-size:22px;
}

.main-hub-section > .main-hub-container button:hover{
    background-color:#d61e1e ;
    transition:0.2s;
}

.main-hub-section > .main-hub-container > #edit-inventory-btn{
    background-color: #0364b3;
    transition:0.2s;
}

.main-hub-section > .main-hub-container > #edit-inventory-btn:hover{
    background-color: #0079dc;
}

/* consult-inventory-section */

.consult-inventory-section{
    margin-top:1.5rem;
    display: none;
}

/* back-home-control */

.back-home-control{
    display: flex;
    align-items:center;
    justify-content: left;
    margin-bottom:1rem;
}

.back-home-control > button{
    width:15%;
    margin-left:1rem;
    font-size: 14px;
    padding:8px 0;
    background-color: #a91818;
    color: #fff;
    border-radius: 25px;
    border:none;
    transition:0.2s;
    cursor:pointer;
}

.back-home-control > button:hover{
    background-color: #d61e1e;
    transition: 0.2s;
}

.back-home-control > button > i{
    margin-right:7px;
}

.back-home-control > h3{
    margin-left:10px;
}

.consult-inventory-section > .title-container{
    margin-top:1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;   
}

.consult-inventory-section > .title-container > .line{
    width:10%;
    background-color: #d61e1e;
    height:1px;
}

.consult-inventory-section > .title-container > .title-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 1rem;
}

.consult-inventory-section > .title-container > .title-control h3{
    font-size:35px;
}

.consult-inventory-section > .title-container > .title-control h5{
    font-size:15px;
    font-weight:300;
    margin-top:10px;
    margin-bottom:1rem;
}

/* consult-inventory-section -> search-input-container */

.consult-inventory-section > .search-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.consult-inventory-section > .search-input-container > *{
    margin:0 8px;
    padding:8px 0;
    border-radius:25px;
}

.consult-inventory-section > .search-input-container > #item-type_select-search{
    width:25%;
}

.consult-inventory-section > .search-input-container > .item-name-input-control{
    width:55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consult-inventory-section > .search-input-container > .item-name-input-control input{
    width:100%;
    padding:8px 0;
    padding-left:8px;
    border-radius:25px;
    border: 1px solid #969696;
}

.consult-inventory-section > .search-input-container > .item-name-input-control > .item-name-options-control{
    display:none;
    border: 1px solid #969696;
    background-color: #fff;
    width: 55%;
    border-radius:25px;
    margin-top:33px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    font-size:15px;
}

.consult-inventory-section > .search-input-container > .item-name-input-control > .item-name-options-control > .item-name-option{
    padding:8px 0;
    padding-left:8px;    
    transition:0.2s;
    cursor:pointer;
}

.consult-inventory-section > .search-input-container > .item-name-input-control > .item-name-options-control > .item-name-option:hover{
    background-color: #d2d2d2;
    transition:0.2s;
}

.consult-inventory-section > .search-input-container > #consult-inventory_search-btn{
    width:10%;
    cursor:pointer;
    background-color: #a91818;
    transition:0.2s;
}

.consult-inventory-section > .search-input-container > #consult-inventory_search-btn:hover{
    background-color: #d61e1e;
    transition:0.2s;
}

/* consult-inventory-section > consult-inventory_result-container */

.consult-inventory-section > .consult-inventory_result-container{
    margin:1.5rem 0;
    display:none;
}

.consult-inventory-section > .consult-inventory_result-container > .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:25px;
}

.consult-inventory-section > .consult-inventory_result-container > .title-container > .line{
    width:9rem;
    margin-left:18%;
    height:1px;
    background-color: #d61e1e;
    margin-top:2px;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    margin: 2rem auto 0 auto;
}

/* consult-inventory-section > consult-inventory_result-container > .consult-inventory_label-control */

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_label-control{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d61e1e;
    color:#fff;
    padding:0.7rem 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_label-control h3{
    font-size:18px;
    text-align: center;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_label-control > .item-name-label{
    width:40%;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_label-control > .item-type-label{
    width:20%;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_label-control > .item-quant-label{
    width:20%;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_label-control > .item-status-label{
    width:20%;
}

/* consult-inventory-section > consult-inventory_result-container > .consult-inventory_show-item */

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_show-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    padding:1rem 0;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_show-item span{
    font-size: 18px;
    text-align: center;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_show-item > .item-name_span{
    width:40%;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_show-item > .item-type_span{
    width:20%;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_show-item > .item-quant_span{
    width:20%;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_show-item > .item-status-control{
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .consult-inventory_show-item > .item-status-control > .status-indicator-circle{
    width:fit-content;
    padding:10px;
    border-radius:50%;
    background-color: #d61e1e;
    margin-bottom:0.3rem;
}

/* consult-inventory-section > consult-inventory_result-container > .no-item-inventory */

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .no-item-inventory{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    padding:1rem 0;
    font-size:18px;
}

/* consult-inventory-section > consult-inventory_result-container > .end-of-items */

.consult-inventory-section > .consult-inventory_result-container > .consult-inventory_show-control > .end-of-items{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #d61e1e;
    padding: 0.7rem 0;
}

/* whole-inventory-section */

.whole-inventory-section{
    margin-top:1.5rem;
    display: block;
}

.whole-inventory-section > .title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1.5rem;
}

.whole-inventory-section > .title-container > .line{
    width:10%;
    background-color: #d61e1e;
    height:1px;
}

.whole-inventory-section > .title-container > .title-control{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:fit-content;
    margin:0 1rem;
}

.whole-inventory-section > .title-container > .title-control h3{
    font-size:35px;
}

.whole-inventory-section > .title-container > .title-control h5{
    font-size:15px;
    font-weight:300;
    margin-top:10px;
    margin-bottom:1rem;
}

.whole-inventory-section > .main-hub_whole-inventory{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1.5rem 0;
}

.whole-inventory-section > .main-hub_whole-inventory button{
    width:30%;
    margin: 0 1rem;
    padding:10px 0;
    font-size: 19px;
}

.whole-inventory-section > .main-hub_whole-inventory > .missing-items-btn{
    background-color: #a91818;
    transition:0.2s;
}

.whole-inventory-section > .main-hub_whole-inventory > .missing-items-btn:hover{
    background-color: #d61e1e;
    transition:0.2s;
}

.whole-inventory-section > .main-hub_whole-inventory > .have-items-btn{
    background-color: #0364b3;
    transition:0.2s;
}

.whole-inventory-section > .main-hub_whole-inventory > .have-items-btn:hover{
    background-color: #0079dc;
    transition:0.2s;
}

/* .whole-inventory-section > .missing-items-container */

.whole-inventory-section > .missing-items-container{
    margin:2rem auto 2rem auto;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.whole-inventory-section > .missing-items-container > .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1.5rem;
    font-size: 35px;
}

.whole-inventory-section > .missing-items-container > .title-container > .line{
    width:14rem;
    margin-left:20%;
    height:2px;
    background-color: #d61e1e;
}

/* .whole-inventory-section > .missing-items-container > .missing-items_show-control */

.whole-inventory-section > .missing-items-container > .missing-items_show-control{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1.5rem 0;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > *{
    font-size: 18px;
}

/* hole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_label-control */

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_label-control{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d61e1e;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding:0.7rem 0;
    color:#fff;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_label-control > h3{
    font-size:18px;
    text-align: center;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_label-control > .item-name-label{
    width:40%
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_label-control > .item-type-label,
.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_label-control > .item-quant-label,
.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_label-control > .item-status-label{
    width:20%;
}

/* .whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item */

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem 0;
    background-color: #ececec;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item > .item-name_span{
    width:40%;
    text-align: center;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item > .item-type_span,
.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item > .item-quant_span,
.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item > .item-status-control{
    width:20%;
    text-align: center;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item > .item-status-control{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .missing-items_show-item > .item-status-control > .status-indicator-circle{
    width:fit-content;
    padding:10px;
    border-radius:50%;
    background-color: #d61e1e;
    margin-bottom:0.3rem;
}

/* .whole-inventory-section > .missing-items-container > .missing-items_show-control > .no-item-inventory */

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .no-item-inventory{
    padding:1rem 0;
    text-align: center;
    background-color: #ececec;
    font-size: 18px;
}

.whole-inventory-section > .missing-items-container > .missing-items_show-control > .end-of-items{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0.7rem 0;
    background-color: #d61e1e;
}

.whole-inventory-section > .have-items-container{
    margin:2rem auto 2rem auto;
    display: flex;
    align-items: center;
    flex-direction:column;
}

.whole-inventory-section > .have-items-container > *{
    font-size: 18px;
    text-align: center;
}

/* .whole-inventory-section > .have-items-container > .title-container */

.whole-inventory-section > .have-items-container > .title-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:1.5rem;
    font-size:35px;
}

.whole-inventory-section > .have-items-container > .title-container > .line{
    width:14rem;
    margin-left:22%;
    background-color: #d61e1e;
    height:2px
}

/* .whole-inventory-section > .have-items-container > .have-items_show-control */

.whole-inventory-section > .have-items-container > .have-items_show-control{
    display: flex;
    align-items: center;
    flex-direction:column;
    margin:1.5rem 0;
    width:90%;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > *{
    font-size: 18px;
    text-align: center;
}

/* .whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_label-control */

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_label-control{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.7rem 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #d61e1e;
    color:#fff;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_label-control > .item-name-label{
    width:40%;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_label-control > .item-type-label,
.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_label-control > .item-quant-label,
.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_label-control > .item-status-label{
    width:20%;
}

/* .whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item */

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #ececec;
    font-size: 18px;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item > .item-name_span{
    width:40%;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item > .item-type_span,
.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item > .item-quant_span,
.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item > .item-status-control{
    width:20%;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item > .item-status-control{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > .have-items_show-item > .item-status-control > .status-indicator-circle{
    width: fit-content;
    padding:10px;
    border-radius: 50%;
    margin-bottom: 0.3rem;
    background-color: #d61e1e;
}

/* .whole-inventory-section > .have-items-container > .have-items_show-control > .no-item-inventory */

.whole-inventory-section > .have-items-container > .have-items_show-control > .no-item-inventory{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: #ececec;
    font-size: 18px;
}

.whole-inventory-section > .have-items-container > .have-items_show-control > .end-of-items{
    padding:0.7rem 0;
    background-color: #d61e1e;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}