*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    max-width: 1920px;
    overflow-x: hidden;
}

section,div{
    width:100%;
}

button{
    background-color: #d61e1e;
    color:#fff;
    border-radius:25px;
    border:none;
    cursor:pointer;
}

select{
    cursor:pointer;
}

input:focus,
select:focus{
    outline:1px solid #d61e1e;
}

/* header */

header{
    padding:12px 0;
    width:100%;
    background-color: #d61e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:8px;
}

header img{
    width:81px;
    height:70px;
}

header h2{
    margin-left:15px;
    font-size:25px;
}

/* back-hub-apps-control */

.back-hub-apps-control{
    position:absolute;
    margin-left:-83%;
    width:fit-content;
    display: flex;
    justify-content: center;
    padding:8px;
}

.back-hub-apps-control a{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color:#dedede;
    transition:0.2s;
}

.back-hub-apps-control a:hover{
    color:#fff;
    transition:0.2s;
}

.back-hub-apps-control a > i {
    font-size:30px;
}

.back-hub-apps-control a > span{
    font-size:12px;
    padding-top:6px;
}

/* help-page-link-control" */

.help-page-link-control{
    position:absolute;
    margin-left: 83%;
}

.help-page-link-control a{
    text-decoration:none;
    color:#dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:0.2s;
}

.help-page-link-control a:hover{
    color:#fff;
    transition:0.2s;
}

.help-page-link-control a > i{
    font-size: 30px;
}

.help-page-link-control a > span{
    font-size:12px;
    padding-top:6px;
}